.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;

  .title {
    margin-bottom: 40px;
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
  .custom-tooltip {
    background-color: rgba(255, 255, 255, 0.8); /* Set your desired background color and opacity */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
